.v2-iframe {
  display: flex;
  justify-content: center;
}

.v2-iframe iframe {
  width: 100%;
}

body.v2-iframe-fullscreen header,
body.v2-iframe-fullscreen footer,
body.v2-iframe-fullscreen main > :not(.v2-iframe-container) {
  display: none;
}

.v2-iframe-fullscreen .v2-iframe-container--fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: none;
  padding: 0;
  margin: 0;
  background: var(--primary-white);
}

.v2-iframe-fullscreen .v2-iframe-container--fullscreen .v2-iframe-wrapper,
.v2-iframe-fullscreen .v2-iframe-container--fullscreen .v2-iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: none;
}

.v2-iframe-container--fullscreen iframe {
  width: 100%;
  height: 100%;
  display: block;
}
