/* main news styling */
.mack-news main {
  background-color: var(--color-white);
  display: flex;
  max-width: var(--wrapper-width);
  flex-direction: column;
  margin: auto;
  padding: 20px 20px 0;
}

.mack-news .section.news-sidebar-container {
  margin: 0 1%;
  padding: 6px 0 0;
}

.mack-news main .section.mack-news-content {
  padding: 0 1%;
}

.mack-news main .section > div {
  padding: 0;
  margin: 0;
}

.mack-news main .section h1 {
  margin: 0 0 36px;
  font-weight: 700;
  font-size: var(--headline-2-font-size);
  line-height: var(--headline-2-line-height);
}

.mack-news main .pubdate {
  display: none;
  font-size: var(--body-font-size-xxs);
  color: var(--c-tertiary-cool-gray);
  font-weight: 400;
  margin: 0 0 30px;
}

.mack-news main li,
.mack-news main p {
  font-size: var(--body-font-size-s);
  line-height: var(--body-1-line-height);
  font-weight: 500;
  color: var(--text-color);
}

.mack-news main img {
  display: block;
  margin: auto;
}

.mack-news .mack-news-content main ol,
.mack-news .mack-news-content main ul {
  font-size: var(--body-font-size-xs);
  font-weight: 500;
}

.mack-news .mack-news-content main ul {
  border-top: 1px solid var(--c-secondary-steel);
  margin: 0;
  padding: 0;
  list-style: none;
}

.mack-news .mack-news-content main ul li {
  border-bottom: 1px solid var(--c-secondary-steel);
}

.mack-news .mack-news-content main ul ul li,
.mack-news .mack-news-content main ul li:first-child {
  padding: 5px 0;
}

.mack-news .mack-news-content a:any-link {
  color: var(--text-color);
  text-decoration: underline;
}

.mack-news .mack-news-content a:any-link:hover {
  color: var(--c-secondary-steel);
}

.mack-news .mack-news-content .mack-news-pictures-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.mack-news .mack-news-pictures-wrapper picture > img {
  object-fit: cover;
  height: 100%;
}

@media (min-width: 768px) {
  .mack-news main {
    padding: 94px 0 30px;
  }

  .mack-news main .section h1 {
    font-size: var(--headline-1-font-size);
    line-height: var(--headline-1-line-height);
    margin: 0 0 5px;
  }

  .mack-news main .pubdate {
    display: block;
  }
}

@media (min-width: 1200px) {
  .mack-news main {
    flex-direction: row-reverse;
  }

  .mack-news .section.news-sidebar-container {
    width: 23%;
    min-width: 23%;
  }
}

.mack-news .fragment {
  margin: 25px 0 0;
  padding: 25px 0 0;
  border-top: 1px solid var(--c-secondary-steel);
}

.mack-news .fragment p:first-child {
  margin-top: 0;
}
