.v2-product-listing-container .default-content-wrapper {
  margin-top: 35px;
}

.v2-product-listing__button-list {
  z-index: 2;
  background: var(--c-primary-white);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 8%);
  display: none;
}

.v2-product-listing__segment-button {
  background: transparent;
  color: var(--text-color);
  text-transform: capitalize;
  font: var(--body-font-size-xxs) / 1.6 var(--ff-body-bold);
  padding: 14px 8px 14px 24px;
  margin: 0;
  text-align: left;
  width: 100%;
  border: 0;
}

.v2-product-listing-wrapper {
  --v2-product-listing-content-gap: 16px;

  padding: 0;
}

.v2-product-listing {
  display: flex;
  flex-direction: column;
}

.v2-product-listing__product {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 24px;
}

.v2-product-listing__product-image {
  position: relative;
  background-color: var(--c-tertiary-light-cool-gray);
}

.v2-product-listing__product-image picture {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.v2-product-listing__product-image picture img {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  width: 100%;
}

.v2-product-listing__product picture img:hover {
  cursor: pointer;
}

.v2-product-listing__product-image:hover picture:last-child img {
  transition: opacity var(--duration-medium) var(--easing-standard);
}

.v2-product-listing .v2-product-listing__product-image picture:last-child img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.v2-product-listing__product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  justify-content: flex-end;
  padding: 0 0 65px;
}

.v2-product-listing__product-info h2 {
  font-family: var(--ff-subheadings-medium);
  font-size: var(--headline-1-font-size);
  margin: 0;
  line-height: 1.15;
  position: relative;
}

.v2-product-listing__selected-item-wrapper .icon,
.v2-product-listing__selected-item-wrapper svg {
  --color-icon: var(--c-accent-red);

  width: 16px;
  height: 16px;
}

.v2-product-listing__product-info h2 .icon {
  margin-left: 8px;
}

.v2-product-listing__product-info p {
  margin: 0;
}

.v2-product-listing__button-container {
  margin-top: 4px; /* 4 + 12 = 16px to match design */
  width: 100%;
  display: flex;
  gap: var(--v2-product-listing-content-gap);
}

.v2-product-listing__button-container a.button {
  margin: 0;
}

.v2-product-listing__detail-list,
.v2-product-listing__segment-list {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}

.v2-product-listing__segment-list {
  padding: 0;
}

.v2-product-listing__segment-list li {
  padding: 0 16px;
  position: relative;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0.1em;
  border-right: 1px solid var(--c-primary-black)
}

.v2-product-listing__segment-list li:first-of-type {
  padding-left: 0;
}

.v2-product-listing__segment-list li:last-child {
  border-right: none;
}

.v2-product-listing__detail-list {
  align-items: flex-start;
  padding-inline-start: 0;
  margin: 0;
}

.v2-product-listing__detail-list li strong {
  font-family: var(--ff-body-bold);
  font-weight: var(--body-1-font-weight-bold);
  letter-spacing: var(--body-1-letter-spacing-bold);
}

.v2-product-listing__dropdown {
  border-top: 1px solid var(--line-subtle);
  border-bottom: 1px solid var(--line-subtle);
  width: 100%;
  margin-bottom: 16px;
}

.v2-product-listing__selected-item-wrapper {
  background: none;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 14px 16px 14px 24px;
  width: 100%;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 8%);
  max-height: 48px;
  align-items: center;
  justify-content: space-between;
}

.v2-product-listing__dropdown--open .v2-product-listing__selected-item-wrapper,
.v2-product-listing__segment-button:hover,
.v2-product-listing__segment-button:focus,
.v2-product-listing__segment-button.active {
  background-color: var(--c-primary-gray);
}

.v2-product-listing__selected-item {
  text-transform: capitalize;
  font: var(--body-font-size-xxs) / 1.6 var(--ff-body-bold);
}

.v2-product-listing__svg-wrapper {
  padding: 16px;
  width: 48px;
  height: 48px;
  transform: rotate(90deg);
}

.v2-product-listing__dropdown--open .v2-product-listing__button-list {
  display: block;
}

.v2-product-listing[data-selected='all products'] .v2-product-listing__dropdown {
  margin-bottom: 0;
}

.v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) {
  background-color: var(--c-tertiary-light-cool-gray);
  margin-bottom: 80px;
}

.v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) img {
  aspect-ratio: 1 / 1;
}

/* WITH DOTS */
.v2-product-listing--with-dots .v2-product-listing__product-image picture:first-child::before {
  content: '';
  height: 70%;
  max-height: 275px;
  aspect-ratio: 1;
  position: absolute;
  left: 30%;
  z-index: 1;
  background: var(--c-primary-gold);
  mask: url('/media/dots.svg');
  transition: background var(--duration-small) var(--easing-standard);
}

@media (min-width: 744px) {
  .v2-product-listing {
    --grid-gap: 16px;

    flex-flow: row wrap;
    column-gap: var(--grid-gap);
    justify-content: center;
  }

  .v2-product-listing__product {
    --card-width: calc(calc(var(--wrapper-width) - var(--grid-gap)) / 2);
    --margin-width: calc(calc(100vw - var(--wrapper-width)) / 2);

    padding: 0;
    width: calc(50% - var(--grid-gap) * 3 / 2);
  }

  .v2-product-listing__button-list {
    position: relative;
    display: flex;
    align-items: center;
    max-width: var(--wrapper-width);
    margin: auto;
    box-shadow: none;
    justify-content: space-between;
  }

  .v2-product-listing__segment-button {
    height: 100%;
    text-align: center;
    padding: 14px 0;
    position: relative;
  }

  .v2-product-listing__segment-button::after {
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    transition: background-color var(--duration-small) var(--easing-standard);
    width: 100%;
  }

  .v2-product-listing__segment-button.active::after,
  .v2-product-listing__segment-button:hover::after,
  .v2-product-listing__segment-button:focus::after {
    background-color: var(--c-accent-red);
  }

  .v2-product-listing__segment-button:hover,
  .v2-product-listing__segment-button:focus,
  .v2-product-listing__segment-button.active {
    background-color: transparent;
  }

  .v2-product-listing__product-info {
    justify-content: flex-start;
    height: 100%;
  }

  .v2-product-listing__detail-list li {
    line-height: var(--body-1-line-height);
  }

  .v2-product-listing__button-container {
    margin-top: auto;
    padding-top: 4px;
  }

  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) {
    flex-direction: row;
    justify-content: flex-end;
    padding: 65px 16px;
    width: 100%;
    column-gap: 50px;
  }

  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) img {
    aspect-ratio: unset;
  }

  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) .v2-product-listing__product-info {
    max-width: 336px;
    padding: 0;
    justify-content: flex-end;
  }
  
  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) .v2-product-listing__product-image {
    width: 100%;
  }

  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) .v2-product-listing__button-container {
    margin-top: 4px;
    padding: 0;
  }

  .v2-product-listing__selected-item-wrapper {
    display: none;
  }

  .v2-product-listing__dropdown {
    padding: 10px 16px;
    border-top: 1px solid var(--c-secondary-silver);
    border-bottom: 1px solid var(--c-secondary-silver);
  }

  .v2-product-listing--with-filter .v2-product-listing__product.selected-product[data-align='right'] {
    margin: 0 auto 0 0;
  }
  
  .v2-product-listing--with-filter .v2-product-listing__product.selected-product[data-align='left'] {
    margin: 0 0 0 auto;
  }
  
  .v2-product-listing--with-filter .v2-product-listing__product.selected-product[data-align='last-item'],
  .v2-product-listing--with-filter .v2-product-listing__product.selected-product[data-align='single-item'] {
    margin: 0 auto 0 16px;
  }
}

@media (min-width: 1200px) {
  .v2-product-listing {
    --card-width: calc(calc(var(--wrapper-width) - var(--grid-gap)) / 2);
    --margin-width: calc(calc(100vw - var(--wrapper-width)) / 2);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 var(--grid-gap);
  }

  .v2-product-listing:not(.v2-product-listing--with-filter) {
    max-width: var(--wrapper-width);
    margin: 0 auto;
  }

  .v2-product-listing[data-selected='all products'] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .v2-product-listing__product {
    width: 100%;
    max-width: calc(var(--card-width));
    margin-bottom: 0;
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) .v2-product-listing__product-info {
    max-width: 336px;
    padding: 0 0 65px;
  }
  
  .v2-product-listing--with-filter .v2-product-listing__product.selected-product[data-align='right'] {
    margin: 0 var(--margin-width) 0 0;
  }
  
  .v2-product-listing--with-filter .v2-product-listing__product.selected-product[data-align='left'] {
    margin: 0 0 0 var(--margin-width);
  }
  
  .v2-product-listing--with-filter .v2-product-listing__product.selected-product[data-align='last-item'],
  .v2-product-listing--with-filter .v2-product-listing__product.selected-product[data-align='single-item'] {
    margin: 0 auto 0 var(--margin-width);
  }

  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) {
    padding: 0 calc(calc(100% - var(--wrapper-width)) / 2);
  }

  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2),
  .v2-product-listing__dropdown {
    width: 100%;
    grid-column: 1 / -1;
    max-width: unset;
  }

  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-of-type(odd) {
    margin: 0 0 0 auto;
  }

  .v2-product-listing__product-image picture:first-child img {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .v2-product-listing__product-image picture:last-child img {
    object-fit: cover;
    width: auto;
    height: 100%;
  }

  .v2-product-listing .v2-product-listing__product-image--show-background picture:last-child img,
  .v2-product-listing .v2-product-listing__product-image:hover picture:last-child img {
    opacity: 1;
    transition: opacity var(--duration-medium) var(--easing-standard);
    z-index: 0;
  }

  .v2-product-listing[data-selected='all products'] .v2-product-listing__product:nth-child(2) .v2-product-listing__product-image {
    position: relative;
  }

  .v2-product-listing[data-selected='all products']
    .v2-product-listing__product:nth-child(2)
    .v2-product-listing__product-image
    picture:first-child
    img {
    padding: 50px;
  }

  .v2-product-listing[data-selected='all products']
    .v2-product-listing__product:nth-child(2)
    .v2-product-listing__product-image
    picture:last-child
    img {
    opacity: 0;
    z-index: 0;
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
  }

  .v2-product-listing[data-selected='all products']
    .v2-product-listing__product:nth-child(2)
    .v2-product-listing__product-image:hover
    picture:last-child
    img {
    opacity: 1;
    z-index: 0;
  }

  .v2-product-listing--with-dots .v2-product-listing__product-image--show-background picture:first-child::before,
  .v2-product-listing--with-dots .v2-product-listing__product-image:hover picture:first-child::before {
    background-color: var(--c-primary-white);
  }
}
