.v2-product-listing-container .default-content-wrapper {
  margin-top: 35px;
}

.v2-product-listing__button-list {
  z-index: 2;
  background: var(--c-primary-white);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 8%);
  display: none;
}

.v2-product-listing__segment-button {
  background: transparent;
  color: var(--text-color);
  text-transform: capitalize;
  font: var(--body-font-size-xxs) / 1.6 var(--ff-body-bold);
  padding: 14px 8px 14px 24px;
  margin: 0;
  text-align: left;
  width: 100%;
  border: 0;
}

.v2-product-listing-wrapper {
  --v2-product-listing-content-gap: 16px;

  padding: 0;
}

.v2-product-listing {
  display: flex;
  flex-direction: column;
}

.v2-product-listing__product {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 24px;
}

.v2-product-listing__product-image {
  position: relative;
  background-color: var(--c-tertiary-light-cool-gray);
}

.v2-product-listing__product-image picture {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.v2-product-listing__product-image picture img {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  width: 100%;
}

.v2-product-listing__product picture img:hover {
  cursor: pointer;
}

.v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product img {
  aspect-ratio: 1 / 1;
}

.v2-product-listing__product-image:hover picture:last-child img {
  transition: opacity var(--duration-medium) var(--easing-standard);
}

.v2-product-listing .v2-product-listing__product-image picture:last-child img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.v2-product-listing__product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  justify-content: flex-end;
}

.v2-product-listing__product-info h2 {
  font-family: var(--ff-subheadings-medium);
  font-size: var(--headline-1-font-size);
  margin: 0;
  line-height: 1.15;
  position: relative;
}

.v2-product-listing__selected-item-wrapper .icon,
.v2-product-listing__selected-item-wrapper svg {
  --color-icon: var(--c-accent-red);

  width: 16px;
  height: 16px;
}

.v2-product-listing__product-info h2 .icon {
  margin-left: 8px;
}

.v2-product-listing__product-info p {
  margin: 0;
}

.v2-product-listing__button-container {
  margin-top: 4px; /* 4 + 12 = 16px to match design */
  width: 100%;
  display: flex;
  gap: var(--v2-product-listing-content-gap);
}

.v2-product-listing__button-container a.button {
  flex: 0 1 50%;
  margin: 0;
}

.v2-product-listing__detail-list,
.v2-product-listing__segment-list {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-product-listing__detail-list li {
  --v2-product-listing-info-font-size: 12px;

  display: flex;
  flex-flow: row wrap;
  gap: var(--v2-product-listing-content-gap);
  font-size: var(--v2-product-listing-info-font-size);
  line-height: var(--body-1-line-height);
  letter-spacing: var(--body-1-letter-spacing);
  border-right: 1px solid var(--c-secondary-steel);
}

.v2-product-listing__segment-list li {
  padding: 0 16px;
  position: relative;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.v2-product-listing__segment-list li:first-child {
  padding-left: 0;
}

.v2-product-listing__detail-list {
  align-items: flex-start;
  padding-inline-start: 0;
  margin: 0;
}

.v2-product-listing__detail-list li:last-of-type {
  border: none;
}

.v2-product-listing__detail-list li strong {
  font-family: var(--ff-body-bold);
  font-weight: var(--body-1-font-weight-bold);
  letter-spacing: var(--body-1-letter-spacing-bold);
}

.v2-product-listing__dropdown {
  border-top: 1px solid var(--line-subtle);
  border-bottom: 1px solid var(--line-subtle);
  width: 100%;
}

.v2-product-listing__selected-item-wrapper {
  background: none;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 14px 16px 14px 24px;
  width: 100%;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 8%);
  max-height: 48px;
  align-items: center;
  justify-content: space-between;
}

.v2-product-listing__dropdown--open .v2-product-listing__selected-item-wrapper,
.v2-product-listing__segment-button:hover,
.v2-product-listing__segment-button:focus,
.v2-product-listing__segment-button.active {
  background-color: var(--c-primary-gray);
}

.v2-product-listing__selected-item {
  text-transform: capitalize;
  font: var(--body-font-size-xxs) / 1.6 var(--ff-body-bold);
}

.v2-product-listing__svg-wrapper {
  padding: 16px;
  width: 48px;
  height: 48px;
  transform: rotate(90deg);
}

.v2-product-listing__dropdown--open .v2-product-listing__button-list {
  display: block;
}

/* Apply featured styling only when all products is selected */
.v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product {
  background-color: var(--c-tertiary-light-cool-gray);
  padding-bottom: 50px;
}

@media (min-width: 744px) {
  .v2-product-listing {
    --v2-product-listing-column-gap: 16px;

    flex-flow: row wrap;
    column-gap: var(--v2-product-listing-column-gap);
    justify-content: center;
  }

  .v2-product-listing__product {
    padding: 0;
    width: calc(50% - var(--v2-product-listing-column-gap) * 3 / 2);
  }

  .v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product {
    flex-direction: row;
    justify-content: flex-end;
    padding: 65px 16px;
    width: 100%;
    column-gap: 30px;
  }

  .v2-product-listing__product-image picture img {
    aspect-ratio: unset;
  }

  .v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product img {
    aspect-ratio: 16/9;
    max-height: 290px;
  }

  .v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product .v2-product-listing__product-image {
    width: 60%;
  }

  .v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product .v2-product-listing__product-info {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .v2-product-listing {
    justify-content: center;
  }

  .v2-product-listing__product {
    max-width: calc(var(--wrapper-width) / 2 - 16px);
  }

  .v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product {
    justify-content: center;
    column-gap: 50px;
    max-width: unset;
  }

  .v2-product-listing .v2-product-listing__product:has(.v2-product-listing__product-image-link:hover),
  .v2-product-listing .v2-product-listing__product:has(.button--primary:hover) {
    background-color: var(--c-primary-white);
  }

  .v2-product-listing__product-image picture:first-child img {
    width: 100%;
  }

  .v2-product-listing__product-image picture:last-child img {
    object-fit: cover;
    width: auto;
  }

  .v2-product-listing .v2-product-listing__product-image--show-background picture:last-child img,
  .v2-product-listing .v2-product-listing__product-image:hover picture:last-child img {
    opacity: 1;
    transition: opacity var(--duration-medium) var(--easing-standard);
    z-index: 0;
  }

  .v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product .v2-product-listing__product-image {
    max-width: calc(var(--wrapper-width) * 0.6 - 50px);
  }

  /* .v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product  {

  } */

  .v2-product-listing__dropdown[data-selected='all products'] + .v2-product-listing__product .v2-product-listing__product-info {
    max-width: calc(var(--wrapper-width) * 0.4 - 50px);
  }
}
