.section--with-background.v2-custom-form-container {
  margin-bottom: 40px;
}

.section--with-background.v2-custom-form-container .default-content-wrapper {
  background-color: unset;
}

.section--with-background.v2-custom-form-container img {
  position: absolute;
  z-index: -1;
}

.section.v2-custom-form-container > .default-content-wrapper {
  --heading-font-size: var(--headline-4-font-size);
  --subheading-font-size: var(--body-font-size-s);
}

.v2-custom-form-container form {
  --fields-font-size: var(--body-font-size-xs);
  --field-error-color: var(--c-error-2);

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min(100%, 600px);
  margin: 0 auto;
}

.v2-custom-form-container textarea,
.v2-custom-form-container input,
.v2-custom-form-container select {
  background-color: var(--background-color);
  border: 1px solid var(--c-secondary-graphite);
  width: 100%;
  max-width: 100%;
  padding: 10px;
  height: 40px;
  line-height: 10px;
  font-size: var(--fields-font-size);
}

.v2-custom-form-container textarea {
  height: 110px;
}

.v2-custom-form-container .form-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.v2-custom-form-container .v2-custom-form .error,
.v2-custom-form-container .v2-custom-form label,
.v2-custom-form-container textarea::placeholder,
.v2-custom-form-container input::placeholder,
.v2-custom-form-container .form-radio-buttons {
  display: inline-block;
  font-family: var(--ff-body);
  font-size: var(--body-font-size-xs);
  font-weight: 500;
  letter-spacing: var(--form-letter-spacing);
  line-height: var(--form-line-height);
}

.v2-custom-form-container .v2-custom-form label {
  padding-bottom: 5px;
}

.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox'] {
  width: auto;
  opacity: 0;
  position: absolute;
}

.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox'] + label {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox'] + label:focus-visible {
  outline: none;
}

.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox'] + label::before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 19px;
}

.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox']:checked + label::before {
  content: '\2713';
  background-color: var(--c-primary-white);
  border: 1px solid #666;
  color: var(--c-primary-black);
}

.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox']:checked + label {
  color: var(--c-primary-black);
}

.v2-custom-form button.button:focus-visible,
.v2-custom-form-container textarea:focus-visible,
.v2-custom-form-container input:focus-visible,
.v2-custom-form-container select:focus-visible,
.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox'] + label:focus-visible::before,
.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox'] + label:focus::before,
.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox'] + label:focus-within::before,
.v2-custom-form-container textarea:hover,
.v2-custom-form-container input:hover,
.v2-custom-form-container select:hover,
.v2-custom-form-container .form-checkbox-wrapper input[type='checkbox'] + label:hover::before {
  --border-focus: var(--c-primary-gold);

  outline: 2px solid var(--border-focus);
}

.v2-custom-form-container .form-custom-dropdown-wrapper {
  position: relative;
  font-size: var(--fields-font-size);
}

.v2-custom-form-container .field-wrapper {
  line-height: var(--body-1-line-height);
}

.v2-custom-form-container .field-wrapper[required] label::after {
  content: ' *';
  color: var(--c-error-2);
}

.v2-custom-form-container .v2-custom-form .error {
  color: var(--c-error-2);
}

.v2-custom-form .form-radio-wrapper {
  border: 0;
  margin: 0;
  padding: 0;
}

.v2-custom-form .form-radio-wrapper[required] .form-radio-legend::after {
  content: ' *';
  color: var(--c-error-2);
}

.v2-custom-form .form-radio-wrapper[required] .form-radio-label::after {
  display: none;
}

.v2-custom-form .form-radio-legend {
  margin-bottom: 16px;
  padding: 0;
  color: #575757;
}

.v2-custom-form .form-radio-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  width: auto;
}

.v2-custom-form .form-radio-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.v2-custom-form .form-radio-option .form-radio-label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 0;
  color: #141414;
}

.v2-custom-form .form-radio-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border: 2px solid #A9A9A9;
  border-radius: 50%;
}

.form-radio-input:checked + .form-radio-label::before {
  background-color: #87754E;
  border-color: #87754E;
  box-shadow: inset 0 0 0 3px var(--c-primary-white);
}

.v2-custom-form .form-radio-wrapper.invalid .form-radio-label::before {
  border-color: #E30000;
}

@media (min-width: 744px) {
  .v2-custom-form-container form {
    display: flex;
    flex-flow: row wrap;
    gap: 8px 16px;
  }

  .v2-custom-form-container .field-wrapper {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .section--with-background.v2-custom-form-container {
    margin-bottom: 0;
    padding: 40px 0 80px;
  }

  .v2-custom-form--double-column form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 50px;
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
  }

  .v2-custom-form-container :is(.form-textarea-wrapper, .form-submit-wrapper) {
    grid-column: 1 / -1;
  }
}
