.v2-video {
  position: relative;
  height: 100%;
  aspect-ratio: 16/9;
}

.v2-video video {
  object-fit: cover;
  object-position: center;
}

.v2-video .v2-video__video,
.v2-video .v2-video__video iframe {
  height: 100%;
  width: 100%;
}
