.redesign-v2 .section--with-background .v2-icon-cards-wrapper,
.redesign-v2 .section .v2-icon-cards-wrapper.v2-icon-cards--no-background {
  padding: 0;
}

.section--with-background.v2-icon-cards-container {
  --section-padding-bottom: 40px;
}

.v2-icon-cards--no-background.v2-icon-cards {
  --card-background: transparent;
  --card-text: var(--text-color);
}

.redesign-v2 .section .v2-icon-cards--no-background.v2-icon-cards {
  margin: 0 -16px;
}

@media (min-width: 1072px) {
  .redesign-v2 .section .v2-icon-cards--no-background.v2-icon-cards {
    margin: 0 -40px;
  }
}

.v2-icon-cards__row {
  background: var(--card-background);
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  color: var(--card-text);
}

.v2-icon-cards__column .icon,
.v2-icon-cards__column svg {
  width: 32px;
  height: 32px;
}

.v2-icon-cards__column {
  max-width: 512px;
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 40px;
}

.v2-icon-cards__column > p,
.v2-icon-cards__column > ol,
.v2-icon-cards__column > ul {
  margin: 0;
}

.v2-icon-cards__column--main {
  gap: 24px;
}

.v2-icon-cards__heading {
  overflow-wrap: break-word;
  margin: 0;
}

.v2-icon-cards__column--main .v2-icon-cards__heading {
  padding-top: 24px;
  margin: 0;
}

.v2-icon-cards__heading.h2 {
  font-family: var(--ff-headline-medium);
}

.v2-icon-cards__body,
.v2-icon-cards__heading:not(.h2) {
  font-size: var(--body-2-font-size);
  line-height: var(--body-2-line-height);
}

.v2-icon-cards__heading:not(.h2) {
  letter-spacing: var(--body-2-letter-spacing-bold);
  font-weight: var(--body-2-font-weight-bold);
}

.v2-icon-cards__body {
  font-weight: var(--body-2-font-weight);
  letter-spacing: var(--body-2-letter-spacing);
}

.v2-icon-cards--alt-font-size .v2-icon-cards__heading {
  font-size: var(--headline-5-font-size);
  font-weight: var(--headline-5-font-weight);
  line-height: var(--headline-5-line-height);
  letter-spacing: var(--headline-5-letter-spacing);
}

.v2-icon-cards--alt-font-size .v2-icon-cards__body {
  font-size: var(--body-1-font-size);
  font-weight: var(--body-1-font-weight);
  line-height: var(--body-1-line-height);
  letter-spacing: var(--body-1-letter-spacing);
}

.v2-icon-cards:not(.v2-icon-cards--alt-font-size) .v2-icon-cards__heading:not(.h2) {
  font-family: var(--ff-body);
  font-weight: 700;
}

.v2-icon-cards__body a {
  color: var(--c-primary-black);
  border-bottom: 1px solid var(--c-accent-red);
  text-decoration: none;
}

.v2-icon-cards__body a:focus-visible{
  outline: 2px solid var(--border-focus);
  }

.v2-icon-cards__column a.button {
  width: fit-content;
  margin: 0;
}

.v2-icon-cards__column a.button:not(a.button:first-of-type) {
  margin: 5px 0 0;
}

.v2-icon-cards .icon {
  margin-bottom: 8px;
}

.v2-icon-cards__column .standalone-link .icon,
.v2-icon-cards__column .standalone-link svg {
  margin: 0;
  width: 16px;
  height: 16px;
}

@media (min-width: 744px) {
  .v2-icon-cards {
    width: 100%;
  }

  .v2-icon-cards--no-background {
    padding: 0;
  }

  .v2-icon-cards__row {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }

  .v2-icon-cards__column {
    flex: 1 1 100%;
    flex-direction: column;
    order: unset;
  }

  .v2-icon-cards__body:last-child {
    margin: 0;
  }

  .v2-icon-cards__column--main {
    align-self: start;
    max-width: 329px;
    width: 100%;
  }
}

/* 4 COLUMNS VARIANT */

/* previous header styling */

.redesign-v2 .v2-icon-cards-container .default-content-wrapper {
  --section-div-padding: 24px 16px;
}

@media (min-width: 744px) {
  .default-content-wrapper.v2-icon-cards--short-header h2 {
    max-width: calc(var(--wrapper-width) - 10px);
    padding-bottom: 0;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .redesign-v2 .v2-icon-cards-container .default-content-wrapper {
    margin: 0 auto;
  }

  .default-content-wrapper.v2-icon-cards--short-header h2 {
    max-width: calc(var(--wrapper-width) / 2);
    margin: unset;
  }
}

/* block styling */
.v2-icon-cards--4-cols .v2-icon-cards__column {
  max-width: unset;
  width: 100%;
  gap: 0;
}

.v2-icon-cards--4-cols .v2-icon-cards__row {
  gap: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-icon-cards--4-cols .icon {
  margin-bottom: 0;
}

.v2-icon-cards--4-cols .top-icon {
  margin-bottom: 16px;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-icon-cards--4-cols .v2-icon-cards__heading {
  margin-bottom: 8px;
}

.v2-icon-cards--4-cols .v2-icon-cards__body {
  margin-bottom: 0;
}

.v2-icon-cards--4-cols .v2-icon-cards__body u {
  text-decoration: none;
  border-bottom: 1px solid var(--c-accent-red);
}

.v2-icon-cards__column--extra-col .v2-icon-cards__body {
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.v2-icon-cards--4-cols .v2-icon-cards__column--extra-col {
  background-color: var(--c-primary-gold);
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-icon-cards__column--extra-col a.button {
  gap: 8px;
  min-width: unset;
  padding: 0;
  margin: 4px 0;
}

.v2-icon-cards .button-container {
  margin: 0;
}

.v2-icon-cards__column--extra-col a.button--secondary {
  font-style: normal;
  border: none;
  margin: 4px 0;
}

/* stylelint-disable no-descending-specificity */
.v2-icon-cards__column--extra-col a.button:active,
.v2-icon-cards__column--extra-col a.button:focus,
.v2-icon-cards__column--extra-col a.button:hover,
.v2-icon-cards__column--extra-col a.button--secondary:active,
.v2-icon-cards__column--extra-col a.button--secondary:focus,
.v2-icon-cards__column--extra-col a.button--secondary:hover {
  background-color: unset;
  text-decoration: none;
}
/* stylelint-enable no-descending-specificity */

@media (min-width: 744px) {
  .v2-icon-cards.v2-icon-cards--4-cols {
    padding: 0;
  }

  .v2-icon-cards--4-cols .v2-icon-cards__row {
    gap: 0;
  }
}

.v2-icon-cards--slider .v2-icon-cards__row {
  gap: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row nowrap;
  margin-block: 40px;
}

.v2-icon-cards--slider .v2-icon-cards__row::-webkit-scrollbar {
  display: none;
}

.v2-icon-cards--slider .v2-icon-cards__column {
  flex: 1 1 220px;
  min-width: 220px;
  scroll-snap-align: start;
}

.v2-icon-cards--slider .v2-icon-cards__slider-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.v2-icon-cards--slider .v2-icon-cards__slider-nav-arrows {
  display: flex;
  gap: 1px;
}

.v2-icon-cards--slider .v2-icon-cards__slider-nav-button {
  background-color: var(--c-primary-gold);
  width: 32px;
  height: 32px;
  border: 0;
  cursor: pointer;
}

.v2-icon-cards--slider .v2-icon-cards__slider-nav-button .icon svg {
  width: 20px;
  height: 20px;
}

.v2-icon-cards--slider .v2-icon-cards__slider-nav-button--prev .icon svg {
  transform: rotate(180deg);
}

.v2-icon-cards--slider .v2-icon-cards__slider-nav-button:hover .icon svg {
  transform: scale(1.2);
}

.v2-icon-cards--slider .v2-icon-cards__slider-nav-button--prev:hover .icon svg {
  transform: rotate(180deg) scale(1.2);
}

.v2-icon-cards--slider .v2-icon-cards__slider-progress-wrapper {
  background: rgb(255 255 255 / 25%);
  width: 100%;
  height: 4px;
}

.v2-icon-cards--slider .v2-icon-cards__slider-progress {
  background: var(--c-accent-red);
  width: 0;
  height: 4px;
}

@media (min-width: 744px) {
  .v2-icon-cards--slider .v2-icon-cards__column {
    flex: 1 1 25%;
    min-width: 25%;
  }
}
