.v2-social-block {
  --social-block-list-gap: 30px;
  --social-text-color: var(--c-primary-black);

  padding: 24px 0;
  margin: 32px 0;
}

.v2-social-block__title {
  font-family: var(--ff-headline-medium);
  font-size: var(--headline-4-font-size);
  margin: 0 0 32px;
  color: var(--social-text-color);
  text-align: center;
}

.v2-social-block__list {
  list-style-type: none;
  display: flex;
  gap: var(--social-block-list-gap);
  padding: 0;
  margin: 0;
  justify-content: center;
}

.v2-social-block a:any-link {
  background-color: transparent;
  align-items: center;
  display: inline-flex;
  font: var(--accent-2-font-size) / var(--accent-2-line-height)
    var(--ff-accents);
  letter-spacing: 0.4px;
  justify-content: center;
  max-width: 21.5em;
  height: auto;
  padding: 0;
  border-radius: 4px;
}

.v2-social-block a:hover {
  --color-icon: var(--standalone-link-color-hover);
}

.v2-social-block a:focus-visible {
  outline: 2px solid var(--border-focus);
  outline-offset: 1px;
}

.v2-social-block a .icon svg {
  height: 24px;
  width: 24px;
}

/* V2-MAGAZINE template stylings */
.v2-magazine .v2-social-block {
  border-top: 1px solid var(--c-primary-black);
}

.v2-magazine .v2-social-block .v2-social-block__list {
  justify-content: flex-start;
}

.v2-social-block--attribution {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.v2-magazine .v2-social-block--attribution {
  border-top: none;
}

.v2-social-block__attribution-date {
  font-family: var(--ff-accents-regular);
  font-size: 14px;
  line-height: 16.8px;
  margin-top: 0;
  margin-bottom: 14px;
}

.v2-social-block__attribution-author {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 744px) {
  .v2-social-block--attribution {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .v2-social-block--attribution .v2-social-block__list {
    align-self: flex-end;
  }
}
